*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

main>hr{
    border-top: 1px solid #c2c2c2b0;
    width: 250px;
    position: absolute;
    left: auto;
    top: 110px;
}

main>h2{
  margin-left: 10px;
}

h2{
  font-family: Arial;
  color: #c2c2c2;
  letter-spacing: normal;
  font-weight: 300;

}

.post{
    border: 2px solid #c2c2c2b0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.03);
    padding: 14px;
    width: 540px;
    margin-top: 50px;
    display: block;
    margin-left: 50px;
    margin-right: auto;
  }

.post-top{
  display: flex;
  justify-content: start;
  padding-bottom: 1px;
  align-items: center;
  }

.post-top>img{
  border-radius: 100%;
}

.post-top>p{
  margin-left: 10px;
  font-family: Arial;
  text-decoration: none;
  color: #000;
}

.post-btn{
  display: flex;
  justify-content: start;
  margin-top: 1px;
  padding: 5px;
  margin-bottom: auto;
}

.post-info{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: auto;
  font-size: 12px;
  color: #000;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 0%;
  text-decoration: none;
}

.post-info>h2{
  color: #000;
  font-weight: bold;
}

footer{
    text-align: center;
    align-items: center;
    position: relative;
    height: 35px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
  }
  
  pre{
    text-align: center;
    font-size: larger;
    font-family: Verdana;
  }

  button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(233, 233, 233);
  }
  
  button{
    display: inline-block;
    background-color: #d9d9d9;
    border-color: white;
    padding: 20px;
    width: 200px;
    color: #000000;
    text-align: center;
}