*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.configura{
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  align-self: start;
  margin: 0 250px 25px 150px;

  font-family: 'Francois One';
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.configura img{
  margin-right: 10px;
}

.lineConfigura{
  margin: 0 250px 0 150px;
  border: 1.5px solid #202020;
}

aside{
  width: 250px;
  height: 50vh;
  margin-left: 150px;
  margin-top: 25px;

  font-family: 'Francois One';
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.8px;
}

aside summary>a{
  line-height: 45px;
  color: #000000;
  transition: 0.3s;
}

.lineLado{
  position: relative;
  display: flex;
  justify-content: start;
  margin-left:280px;
  margin-top: -410px;
  width: 0;
  height: 80vh;
  border: 1.5px solid #202020;
}

aside summary>a:hover{
  width: max-content;
  height: 35px;
  padding: 8px;
  border-radius: 50px;
  align-items: center;
  align-self: center;
  background: rgba(191, 63, 86, 0.55);
  color: #ffffff;
  transition: 0.5s ease;
}

aside button{
  position: relative;
  align-items: center;
  width: 123px;
  height: 35.28px;
  margin-left: 55px;
  text-align: center;

  border: 0;
  background: #D94848;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  transition: 0.3s;

  font-family: 'Francois One';
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.8px;
}

aside button a{
  color: #000000;
  background: transparent;
  transition: 0.5s;
}

aside button:hover{
  border: 1px solid #D94848;
  background: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

aside button a:hover{
  background: transparent;
}