.img>p{
    margin-top: 10px;
    margin-left: 15px;
    font-family: Arial;
    color: #000;
    font-size: 25px;
    font-weight: 300px;
    font-variant-caps: all-petite-caps;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

main{
    position: absolute;
    padding: 70px 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e8e8e8;
    border: 2px solid #dedede;
    border-radius: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.03);
    text-align: center;
}

.href{
    line-height: 5px;
    font-family: Arial;
    color: #000;
    text-shadow: 2px 2px 2px #c7c7c752;
}

.href>h2:hover{
    cursor:pointer;
    background: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.href>a:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0,48,255,1) 0%, rgba(92,9,121,1) 50%, rgba(255,196,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sobre>p{
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap:break-word;
    font-family: Arial;
    color: #000;
    text-shadow: 2px 2px 2px #c7c7c752;
}

h3{
    text-align: left;
    font-family: Arial;
    color: #000;
    text-shadow: 2px 2px 2px #c7c7c752;
}