*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

.box_user{
    position: relative;
    width: 825px;
    height: 250px;
    left:51%;
    right: auto;
    transform:translateX(-51%);
    margin-bottom: 50px;
}

.box_user img{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 10%;
    right: auto;
    border-radius: 100vmax;

}

.box_info{
    position: absolute;
    top: 50px;
    left: 370px;
    right: auto;  
}

.box_info h3{
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.box_info h4{
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;

    color: #000000;
}

.box_info p{
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: #000000;
}

.box_info-lado{
   position: absolute;
   top: 60px;
   left: 650px;
   right: auto;
}

/*Buttons*/

.box_info_btn{
    display: inline-block;
    margin-top: 40px;
}

.box_info_btn img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 220px;
    top: 135px;
    border-radius: 0%;
}

button{
    top: 50px;
    width: 100px;
    height: 30px;
    
    border: 0;
    border-color: transparent;
    background: #D94848;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    transition: 2s;
}

button:hover{
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(255, 80, 80, 0.668);
    transition: 3s;
}
a{
    color: #fff;
    text-decoration: none;
}

.box_info_btn a:hover{
    background-color: transparent;
}

/*Info lado*/

.box_info-lado{
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 300;
    align-items: center;
    text-align: center;
}

.box_info-lado h5, p{
    font-size: 12px;
}

.box_info-lado hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Selection*/

.selection img{
    position: relative;
    width: 46px;
    height: 46px;
    left:35%;
    transform:translateX(-35%);

    display: inline-block;
    align-items: center;
    padding: 10px 10px;

    margin: 0 25px;
    margin-bottom: 15px;

    transition: 0.5s;
}

.selection a>img:hover{
    cursor: pointer;
    background-color: #D94848;
    border-radius: 50%;
    transition: .7s;
}

.selection a:hover{
    background-color: transparent;
}

/*post list*/

.post_list{
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 350px));
    justify-content: center; 
}

.post {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 20px 20px 20px;
}

.post-img {
    margin: 0;
}

.post-img img {
    width: 100%;
    vertical-align: top;
}

.post-overlawer {
    background: rgba(0,0,0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    display: none;
    align-items: center;
    justify-content: center;
    
    color: white;
    text-align: center;
    font-family: arial;
}

.post:hover .post-overlawer{
    display: flex;
}
  
.post-like, .post-comen {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.post-like>img, .post-comen>img{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}