body{
    background: url(https://images.unsplash.com/photo-1549936384-996d3e6292fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
}

.frame{
    position: relative;
    border: 0;
    width: 40%;
    height: 100vh;
    background: var(--datail-gray-opacity);
    animation: ladinho 0.2s linear;
}

.container{
    position: relative;
    top: 40%;
    left: 100px;
    transform: translateY(-50%);
    width: 300px;
    
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 15px;

    animation: entrace 0.5s ease;
}

aside{
    margin-left: 23px;
}

aside h2{
    display: inline-block;
    background: var(--detail-pink);
    padding: 0 20px;
    margin-top: 23px;
    margin-bottom: 10px;
    border-radius: 50px;
    align-items: baseline;
    text-align: center;

    font-family: 'Montserrat';
    font-style: 100;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 35px;
    color: #ffffff;
}

aside a{
    position: relative;
    margin-left: 5px;
    
    color: #656565;
    text-decoration: underline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

aside a:hover{
    cursor: pointer;
    color: #3d3d3d;
    transition: .5s;
}

form .informationsCadatro{
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
    text-align: center;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}

form #user, form #email, form #password{
    width: 250px;
    padding: 5px 10px;
    border: transparent;
    border-radius: 50px;
    background: var(--detail-pink-opacity);
    line-height: 2px;
}

#password{
    margin-bottom: 10px;
}


form div.checkbox{
    position: relative;
    margin-top: 20px;
    bottom: 15px;
    text-align: left;
    align-items: center;
    width: 210px;
    
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
}

input[type="checkbox"]{
    
    margin: 2px;
    align-items: center;
}

button{
    position: absolute;
    margin-top: 50px;
    left: 30%;
    padding: 10px 15px;
    align-items: center;
    text-align: center;

    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;

    background: var(--detail-pink);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s ease;
}

button:hover{
    transform: translateY(-20px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.516);
    transition: 0.5s;
}

@keyframes ladinho{
    0%{
        position: absolute;
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 100;
    }
}

@keyframes entrace{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 100;
    }
}