body {
    overflow-y: hidden;
    overflow-x: hidden;
    background: #ffff;
}

main {
    float: right;
}

.frame {
    max-width: 550px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 50px #ffffffa5, 0 0 100px #D94848;
    background: #d9484886;
    animation: ladinho 0.2s linear;
}

.container {
    width: 80%;
    margin: 10px auto;
    padding: 10px 15px;
    border: 0;
    border-radius: 15px;
    background: #fff;
}

.nametag {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.nametag a {
    margin: 0 10px;
    font-size: 14px;
    text-decoration: underline;
    color: #000;
    transition: 500ms;
}

.nametag a:hover {
    color: var(--detail-blue);
    transition: 500ms;
}

#loginForm {
    margin: 25px;
    padding: 10px;
    text-align: center;
}

.containner_form {
    text-align: left;
}

.containner_form input {
    margin: 10px 0;
    padding: 8px 10px;
    width: 100%;
    border: 0;
    border-radius: 100px;
    font-weight: 500;
    color: #000;
    background: var(--white-no-white);
    outline: none;
}

button {
    width: 150px;
    margin-top: 25px;
    padding: 8px 10px;
    border: 1px solid var(--main-detail-color);
    border-radius: 100px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #D94848;
    cursor: pointer;
    background: transparent;
    transition: 500ms;
}

button:hover {
    transform: translateY(-10px);
    box-shadow: inset -10.5em 0 0 0 var(--main-detail-color), inset 10.5em 0 0 0 var(--main-detail-color);
    color: #fff;
    text-transform: uppercase;
    transition: 800ms;
}

@keyframes ladinho {
    0% {
        position: absolute;
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 100;
    }
}

@keyframes entrace {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(20);
        opacity: 100;
    }
}

/* Square */

.square {
    position: absolute;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.square1 {
    top: -100%;
    left: 10%;
    width: 200px;
    height: 200px;
    background: var(--detail-blue);
    animation: topInDown 20s infinite 0s;
}

.square2 {
    bottom: 0;
    left: 5%;
    width: 150px;
    height: 150px;
    background: var(--main-detail-color);
    animation: downInTop 18s infinite 0s;
}

.square3 {
    left: 20%;
    top: 0;
    width: 100px;
    height: 100px;
    background: var(--main-detail-color);
    animation: topInDown 25s infinite 0s;

}

.square4 {
    left: 40%;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: var(--detail-blue);
    animation: downInTop 25s infinite 0s;
}

.square5 {
    left: 40%;
    top: 0;
    width: 180px;
    height: 180px;
    background: var(--main-detail-color);
    animation: topInDown 18s infinite 0s;

}

.square6 {
    left: 20%;
    bottom: 0;
    width: 200px;
    height: 200px;
    background: var(--detail-blue);
    animation: downInTop 20s infinite 0s;

}

@keyframes topInDown {
    0% {
        top: -100%;
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
        top: 150%;
    }
}

@keyframes downInTop {
    0% {
        bottom: -100%;
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
        left: 15%;
        bottom: 150%;
    }
}

@media screen and (max-width:770px) {
    .square{
        opacity: 0;
    }
}