.containner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containner_contents {
  padding: 15px 25px;
  border: 0;
  border-radius: 10px;
  background: #f6f6f6;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  animation:  fadeIn 1s linear;
}

.containner_contents h1 {
  margin: 15px auto;
  font-family: 'Montserrat';
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.btn_child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_btn {
  margin: 20px;
}

.buttonsEntrace {
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 100px;
  font-family: 'Montserrat';
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 60px;
  text-align: center;
}

#Entrar{
  border-color: var(--main-detail-color);
  color: var(--main-detail-color);
  transition: 750ms;
}

#Entrar:hover{
  box-shadow: inset -10.5em 0 0 0 var(--main-detail-color), inset 10.5em 0 0 0 var(--main-detail-color);
  color: #fff;
  transition: 800ms;
}

#Cadastrar{
  border: 0;
  color: #fff;
  background: var(--detail-blue);
  transition: 750ms;
}

#Cadastrar:hover{
  box-shadow: inset 10.5em 0 0 0 #f6f6f6, inset 10.5em 0 0 0 var(--detail-blue);
  color: var(--detail-blue);
  transition: 800ms;
}

/* Footer */

footer {
  margin: 10px 0 0 0;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #f6f6f6;
  box-shadow: -2px 0 20px rgba(114, 114, 114, 0.25);
}

.container_footer {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container_contacts {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

a .fi-brands-github {
  margin: 10px;
  font-size: 1.5em;
  color: #000;
}

.fi-brands-github:hover {
  color: var(--detail-blue);
}

.container_contacts img {
  max-width: 40px;
}

/* Animation */

@keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 100;
  }
}

/* Media screen*/

@media screen and (max-width:650px) {
  .btn_child{
    text-align: center;
    flex-direction: column;
  }
}