.containner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

h1 {
  margin: 10px 20px;

  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;

  animation: fadeIn 0.5s ease;
}

.btn_child {
  margin: 10px 15px;
  margin-top: 50px;

  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.esq,
.dir {
  margin: 10px 15px;
  padding: 5px 10px;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}

.esq {
  border: 1px solid var(--detail-blue);
  border-radius: 100px;
  color: var(--detail-blue);
  transform: translateY(0);
  transition: 0.5s;
}

.esq:hover {
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: var(--detail-blue);
  color: #ffffff;
}

.dir {
  border: 0;
  border-radius: 100px;
  background: var(--detail-pink);
  color: #ffffff;
}

@keyframes fadeIn{
  0%{
    transform: translateY(-20px);
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 100;
  }
}