@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root {
    --sha-shadow-glow: #d9484849;
    --sha-shadow-glow-glow: #d94848;
    --co-color-red: #d94848;
}

.box_user {
    position: relative;
    width: 825px;
    height: 250px;
    left: 51%;
    right: auto;
    transform: translateX(-51%);
    margin-bottom: 50px;
}

.box_user img {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 10%;
    right: auto;
    border-radius: 100vmax;
    box-shadow: 0 0 2px var(--sha-shadow-glow), 0 0 20px var(--sha-shadow-glow-glow);
}

.box_info {
    position: absolute;
    top: 50px;
    left: 370px;
    right: auto;
}

.box_info h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.box_info h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;

    color: #000000;
}

.box_info p {
    max-width: 260px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    word-wrap: break-word;
    display: flex;
    align-items: center;

    color: #000000;
}

.box_info p::before {
    content: ' ';
    margin-right: 5px;
}

.box_info-lado {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 80%;
    right: auto;
}

/*Buttons*/

.box_info_btn {
    display: inline-block;
    align-items: center;
    margin-top: 40px;
}

button {
    top: 50px;
    height: 32px;
    margin: 5px;
    padding: 5px 10px;

    color: #000;
    border: 0;
    border-color: transparent;
    background: #ececec;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

#botaoSeguir {
    width: 100px;
}

#botaoSeguir:hover {
    transform: translateY(-10px);
    background: transparent;
    color: var(--co-color-red);
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px var(--sha-shadow-glow), 0 0 25px var(--sha-shadow-glow-glow);
    transition: 0.3s;
}

.seguindo {
    background-color: var(--co-color-red);
    color: #ffffff;
    font-weight: 600;
}

a .fi-rr-pencil {
    color: #000000;
    transition: 0.5s;
}

a .fi-rr-pencil:hover {
    color: var(--co-color-red);
    transform: scale(10);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    transition: 0.3s;
}


/*Info lado*/

.box_info-lado {
    font-family: 'Montserrat';
    font-weight: 300;
    align-items: center;
    text-align: center;
}

.box_info-lado h5,
p {
    font-size: 12px;
}

.box_info-lado hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Selection*/

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection .fi {
    width: max-content;
    height: 50px;
    display: inline-block;
    margin: 15px;
    padding: 10px;
    font-size: 26px;
    color: #000000;

    transition: 0.5s;
    cursor: pointer;
}

.selection .fi:hover {
    transform: translateY(-10px);
    background: var(--co-color-red);
    box-shadow: 0 0 2px var(--sha-shadow-glow), 0 0 20px var(--sha-shadow-glow-glow);
    border-radius: 100px;
    transition: .7s;
}

.selection .fi-rr-picture:first-child {
    background: var(--co-color-red);
    box-shadow: 0 0 2px var(--sha-shadow-glow), 0 0 20px var(--sha-shadow-glow-glow);
    border-radius: 100px;
}

.selection a:hover {
    background-color: transparent;
}

/*post list*/

.post_list {
    width: 70%;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.photo {
    width: 300px;
    cursor: pointer;
    position: relative;
    display: block;
    margin: 20px 20px 20px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9998;
}

.full-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.full-screen img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.full-screen .comments,
.full-screen .likes {
    margin-top: 10px;
}

.fi-sr-heart,
.fi-sr-comment-alt {
    font-size: 1rem;
    margin-right: 5px;
}