@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

header {
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
}

label.logo {
    color: #020202;
    font-size: 25px;
    letter-spacing: 0.5;
    line-height: 60px;
    padding: 0 40px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    background: transparent;

    animation: fadeIn .5s ease;
}

.containner_nav {
    position: relative;
    margin: 10px 15px;
    float: right;

    width: max-content;
    height: 25px;
}

.containner_nav .fi-rr-heart,
.fi-rr-plus,
.fi-rr-user,
.fi-rr-settings,
.fi-rr-home {
    font-size: 18px;
    color: #020202;
    line-height: 40px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.fi-rr-heart,
.fi-rr-plus,
.fi-rr-user,
.fi-rr-settings,
.fi-rr-home {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    transition: .3s ease;

    animation: fadeIn .5s ease;
}

.fi-rr-heart:hover,
.fi-rr-plus:hover,
.fi-rr-user:hover,
.fi-rr-settings:hover,
.fi-rr-home:hover {
    background: var(--main-detail-color);
    transition: .3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}